<template>
  <button @click="onClick()" :style="{ background: color, color: textColor }" class="btn">
    {{ text }}
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    text: String,
    color: String,
    textColor: String,
    url: String
  },
  methods: {
    // on click emit to higher level
    onClick() {
      console.log('pressed')
      this.$emit('btn-click')
    },
  },
}
</script>

<style scoped>
  .btn{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 26px;
  }
</style>