<template>
<div>
  <div :key="MusicService.name" v-for="MusicService in MusicServices">
    <!-- display every music service and when clicked emit the name up a level -->
    <MusicService
    @btn-click="$emit('login-show-playlists', MusicService.name)"
      :MusicService="MusicService"
    />
  </div>
</div>

</template>

<script>
import MusicService from './MusicService'

export default {
  name: 'MusicServices',
  props: {
    MusicServices: Array,
  },
  components: {
    MusicService,
  },
  emits: ["login-show-playlists"]
}
</script>