<template>
  <div class="MusicService">
    <!-- display image for each music service based on name held in asset folder -->
    <img :src="require(`@/assets/${MusicService.name}.png`)" width="150" height="150" alt='pic' class="image" @click="onClick()">
  </div>
</template>

<script>

export default {
  name: 'MusicService',
  props: {
    MusicService: Object
  },
  methods:{
    onClick(){
      console.log('clicked')
      this.$emit('btn-click')
    }
  },
  emits: ["btn-click"]

}
</script>

<style scoped>
.image{
  cursor: pointer;
}
</style>