<template>
<div>

  <div v-if="!trending && !myUser">
      <div class="displayTracks" >
          <Button 
          :text="btnText"
          color="#00968B"
          textColor="#ffffff"
          @btn-click="displayTracks"
          />
      </div>
      <div class="tracks" v-bind:key="tracks.name" v-for="tracks in tracks" >
          <div class="tracks" v-if="show">
            <Tracks
              :Tracks="tracks"
            />
          </div>

      </div>
  </div>

  <div v-if="trending">
      <h4>{{playlistName}}</h4>
      <div class="tracks" v-bind:key="tracks.name" v-for="tracks in Playlist">
          <Tracks
            :Tracks="tracks"
          />

      </div>
  </div>

    <div v-if="myUser">
      <div class="displayTracks" >
          <Button 
          :text="btnText"
          color="#00968B"
          textColor="#ffffff"
          @btn-click="displayTracks"
          />
      </div>
      <div class="tracks" v-bind:key="tracks.name" v-for="tracks in Playlist.tracks">
        <div v-if="show">
            <Tracks
              :Tracks="tracks"
            />
        </div>


      </div>
  </div>

</div>
</template>

<script>
import Tracks from './Tracks'
import Button from './Button'

export default {
  name: 'Playlist',
  props: {
    Playlist: Object,
    playlistName: String,
    url: Object,
  },
  components: {
    Tracks,
    Button
  },
  computed: {
    trending(){
      if (this.$route.path === '/trending') {
        return true
      } else {
        return false
      }
    },
    myUser(){
      if (this.$route.path === '/user') {
        return true
      } else {
        return false
      }
    },
  },
  watch: {
    Playlist: {
      handler(){
        console.log(this.Playlist)
      },
      deep: true
    },
  },
  mounted() {
    if(this.$route.params.music_service == 'spotify'){
      this.getTracks(this.url)
    }else if(this.$route.params.music_service == 'youtube'){
      this.tracks = this.Playlist.tracks
      //console.log(this.Playlist.tracks)
    }
  },
  emits: ["playlistData"],
  data(){
    return{
      tracks: [],
      show: false,
      btnText: "Show Tracks"
    }
  },
  methods: {
    // triggers display of tracks
    displayTracks(){
      if(!this.show){
        this.show = true
        this.btnText = "Hide Tracks"
      }else{
        this.show = false
        this.btnText = "Show Tracks"
      }
    },

    //get tracks for spotify 
    async getTracks(tracks) {
      //console.log(tracks.href)
      //console.log(this.Playlist.tracks.total) 

      //set headers with access token
      let bearer = 'Bearer ' + localStorage.getItem("spotifyAccessToken")
      const headers = { "Authorization": bearer }
      
      //set offset and playlist temp storage
      let offset = 0
      let playlistArr = []

      //console.log(this.Playlist)

      // if playlist requries a second loop as limit is 100 && ensures no loop over !existent tracks
      if (this.Playlist.tracks.total > 100 && offset + 99 < this.Playlist.tracks.total){

          // get 100 tracks per loop
          for(let i=0; i < this.Playlist.tracks.total; i+=100){
            offset = i
            //console.log(offset, this.Playlist.name)

            // offset sets where to get the next 100
            const res = await fetch(tracks.href + '?offset=' + offset, { headers })
            const data = await res.json()
            
            //console.log(data.items)

            playlistArr.push(data.items)
          }
      }else {
            // no second loop
            const res = await fetch(tracks.href, { headers })
            const data = await res.json()
            playlistArr.push(data.items)
      }

      let newArr = []
      //go through temp array & add only whats needed to new array 
      playlistArr.forEach(item => {
        //console.log(item[0].track.name);
        if(item.length > 0){
          item.forEach(track => {
            // console.log(tracks.track.name)
            newArr.push({"track": track.track.name, "artist": track.track.artists[0].name})
          })
        }
      });
      // console.log(newArr)

      //set tracks sent to tracks component here
      this.tracks = newArr
      return newArr
    },
 
  },
}
</script>

<style scoped>
.tracks{
  margin:auto;
  width: 850px;
}
.displayTracks{
  margin-left: 80px;
  display: inline-block;
}
</style>