<template>
<div> 
  <div v-if="!trending && !myUser"> 
        <paginate
            v-model="page"
            :page-count="Playlists.length/10"
            :page-range="1"
            :click-handler="clickCallback"
            :margin-pages="0"
            :prev-text="'Prev'"
            :next-text="'Next'"
        >
        </paginate>
        <div class="convert-playlists" :key="Playlist.name" v-for="Playlist in playlists">
          <div class="playlist">
            <h3 class="name" v-if="spotify">{{Playlist.name}}</h3>
            <label class="label" for="playlist" v-if="spotify">{{Playlist.tracks.total}} Tracks</label>

            <h3 class="name" v-if="!spotify">{{Playlist[0].name}}</h3>
            <label class="label" for="playlist" v-if="!spotify">{{Playlist[0].count}} Tracks</label>

          </div>
          <div class="checkbox">
            <input type="checkbox"  @change="check($event, Playlist)" >
          </div>

          <br />
          <div >
            <Playlist
              :Playlist="Playlist"
              :url="Playlist.tracks"
              v-if="spotify"
            />     
            <Playlist
              :Playlist="Playlist[0]"
              :url="Playlist.tracks"
              v-if="!spotify"
            />         
          </div> 
          <br />
        </div>
        <paginate
            v-model="page"
            :page-count="Playlists.length/10"
            :page-range="1"
            :click-handler="clickCallback"
            :margin-pages="0"
            :prev-text="'Prev'"
            :next-text="'Next'"
        >
        </paginate>
  </div>
  <div v-if="trending"> 
        <div class="trending-playlists" :key="Playlist.name" v-for="Playlist in Playlists">
          <Playlist
            :Playlist="Playlist"
          />
          <br/>
          <br/>
        </div>
  </div>

  <div v-if="myUser" style="margin-top: 125px;"> 
      <div class="converted-playlists" :key="Playlist.name" v-for="Playlist in Playlists">
        <h3 class="name">{{Playlist.name}}  </h3>
        <label class="label" for="playlist">Converted From {{Playlist.converted_from}}</label>
        <label class="label" for="playlist">Created: {{Playlist.created}}</label>
        <Playlist
          :Playlist="Playlist"
        />
        <br/>
        <br/>
      </div>
  </div>

</div>
</template>

<script>
import Playlist from './Playlist'
import Paginate from 'vuejs-paginate-next';


export default {
  name: 'Playlists',
  props: {
    Playlists: Array,
    trackCount: Number,
    url: Object,
  },
  components: {
    Playlist,
    paginate: Paginate
  },
  computed: {
    trending(){
      if (this.$route.path === '/trending') {
        return true
      } else {
        return false
      }
    },
    myUser(){
      if (this.$route.path === '/user') {
        console.log('here')
        return true
      } else {
        return false
      }
    },
    spotify(){
      if(this.$route.params.music_service == 'spotify'){
        return true
      }else{
        return false
      }
    }
  },
  watch: {
    //  watches any changes to Playlists prop for YT
    Playlists: {
      handler(){
        console.log(this.Playlists)
        this.playlists = this.Playlists.slice(0, 10)
        console.log(this.playlists)
      },
      deep: true
    },
  },
  methods: {
      
      //  Called on pagination change to display new page
      clickCallback(pageNum) {
          console.log(pageNum)
          this.playlists = this.Playlists.slice((pageNum-1) * 10, pageNum*10)
          console.log(this.playlists)

      },

      // when checkbox is changed update checkPlaylists [] 
      check(e, Playlist) {
        
        // check for spotify object [] as YT requires Playlist[0] to access same level as Spotify
        if(this.spotifyCheck() == true){
          //console.log(e, Playlist)
          
          if(!this.checkedPlaylists.includes(Playlist)){
            this.checkedPlaylists.push(Playlist)
          }else{
            this.checkedPlaylists = this.checkedPlaylists.filter(function(e) { return e !== Playlist })
          }

        }else{

          //console.log(e, Playlist[0])
          if(!this.checkedPlaylists.includes(Playlist[0])){
            this.checkedPlaylists.push(Playlist[0])
          }else{
            this.checkedPlaylists = this.checkedPlaylists.filter(function(e) { return e !== Playlist[0] })
          }

        }
        //console.log(this.checkedPlaylists);
        this.$emit("sendCheckedPlaylists", this.checkedPlaylists)
      },

      //checks if spotify is in the route
      spotifyCheck(){
        if(this.$route.params.music_service == 'spotify'){
          return true
        }else{
          return false
        }
      },
      delay(ms){
          return new Promise(resolve => setTimeout(resolve, ms))
      },
  },
  mounted() {
    console.log(this.Playlists)
    this.playlists = this.Playlists.slice(0, 10)
    console.log(this.playlists)

  },
  emits: ["sendCheckedPlaylists"],
  data(){
    return{
      playlistName: '',
      total: 0,
      checkedPlaylists: [],
      tracksUrl: {},
      page: 1,
      playlists: []
    }
  }

}
</script>

<style scoped>
.playlist{
  display: inline-block;
}
.checkbox{
  margin-left: 25px;
  display: inline-block;
}

.label{
  margin-left: 25px;
  font-size: 26px;
  display: inline-block;
}
.name{
  display: inline-block;
}
</style>