<template>
<div>
  <div class="track" >
      <label class="names" v-if="spotify && !trending">Name: {{Tracks.track}}</label>
      <label class="names" v-if="!spotify && !trending">Name: {{Tracks.name}}</label>
      <label class="names" v-if="trending">Name: {{Tracks.name}}</label>
      <label>Artist: {{Tracks.artist}}</label>
  </div>
</div>
</template>

<script>

export default {
  name: 'Tracks',
  props: {
    Tracks: Object,
    name: String,
    route: String,
  },
  computed: {
    spotify(){
        if(this.$route.params.music_service == 'spotify'){
          return true
        }else{
          return false
        }
      },
    trending(){
      if (this.$route.path === '/trending') {
        return true
      } else {
        return false
      }
    },
    myUser(){
      if (this.$route.path === '/user') {
        return true
      } else {
        return false
      }
    },
  }
}
</script>

<style scoped>
.track{
  margin:auto;
  font-size: 18px;
}
.names{
  margin-right: 25px;
}
</style>