<template>
  <div id="app">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" >

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto" id="navUl">
            <li class="nav-item">
              <router-link class="nav-link" to="/">Home</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/trending">Trending</router-link>
            </li>
            <li class="nav-item" v-if="!isAuthenticated" >
              <a class="nav-link" id="login" to="/login"  @click="login">Login</a>
            </li>
            <li class="nav-item" v-if="isAuthenticated">
               <router-link class="nav-link" to="/user">User</router-link>
            </li>
            <li class="nav-item" v-if="isAuthenticated">
              <a class="nav-link" href="#" @click="logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <router-view />
    </main>
  </div>
</template>

<script>
 import { useAuth0 } from '@auth0/auth0-vue';

  export default {
    methods: {
      async getUser(user){

        if(user != undefined){
          const headers = { "Content-Type": 'application/json' }
          const res = await fetch('http://localhost:8000/api/getUser/?auth0_id=' + user.sub, { headers })
          //console.log(res)

          if (res.statusText == "No Content") {
            console.log('creating new user')
            const requestOptions = {
                method: "POST",
                headers: {  "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify( { 
                    "name": user.name,
                    "auth0_id": user.sub
                })
            }
              const newRes = await fetch("http://localhost:8000/api/addUser", requestOptions )
              console.log(newRes)
              let newUser = await newRes.json() 
              console.log(newUser)
              this.dbUser = newUser
              localStorage.setItem("userID", this.dbUser.auth0_id)
              localStorage.setItem("userAuth", "true")

          }else{
            let db = await res.json() 
            console.log(db)
            this.dbUser = db
            localStorage.setItem("userID", this.dbUser.auth0_id)
            localStorage.setItem("userAuth", "true")

          }
        }

      }
    },
    data(){
      return{
        dbUser: {}
      }
    },
    setup() {
      // constant for auth0 auth
      const { logout, loginWithRedirect, user, isAuthenticated } = useAuth0();

      return {
        // auth0 functions 
        logout: () => {
          logout({ returnTo: window.location.origin });
          localStorage.setItem("userAuth", "false")
        },
        login: () => {
          loginWithRedirect();
        },
        user,
        isAuthenticated
      }
    },
    watch: {
      user: function (user) {
        //console.log('Change to page', user.sub)
        this.getUser(user)
      }
    },
  };
</script>

<style>

html{
  background-color: #FCF2D7;
}

main{
  background-color: #FCF2D7;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #FCF2D7;
}

#navUl {
  display:flex;
  justify-content: stretch;
  align-content: center;
}

.nav-item{
  font-size: 26px;
  margin-left: 50px
}

</style>
