<template>
    <div>
        <div class="playlists" v-if="!displaySources">

            // put in a div ehre and hide the rest of the functionality until playlists is populated / text to say waiting on load? fav.ico??
                <Button 
                    text="Convert Playlists"
                    color="#00968B"
                    textColor="#ffffff"
                    @btn-click="convert"
                    id="convert-playlists"
                />
                <Playlists 
                    :Playlists="playlists" 
                    @sendCheckedPlaylists="checkedPlaylists"
                />
                <Button 
                    text="Convert Playlists"
                    color="#00968B"
                    textColor="#ffffff"
                    @btn-click="convert"
                    id="convert-playlists"
                />


        </div>

        
        <div class="playlists" v-if="displaySources">
            <h2>Select your destination:</h2>
            <MusicServices 
            @login-show-playlists="loginShowPlaylists"
            :MusicServices="musicServices"
            />
        </div>
    </div>
</template>

<script>
import Playlists from '../components/Playlists.vue'
import Button from '../components/Button.vue'
import MusicServices from '../components/MusicServices.vue'

export default {
    name: 'Convert',
    components: {
        Playlists,
        Button,
        MusicServices,
    },
    computed: {
        // this triggers when the convert btn is clicked & changes the display
        displaySources(){
            if (this.conversionStart == true) {
                return true
            } else {
                return false
            }
        },
    },
    async mounted(){

        if(this.$route.params.music_service == 'spotify'){
            //console.log(this.$route.params.music_service)
            
            let playlists = await this.getSpotifyPlaylists()
            //console.log(playlists)

            // push the music services to convert to
            this.musicServices.push({name: "Youtube"})

        }else if(this.$route.params.music_service == 'youtube'){
            // load YT auth
            gapi.load("client:auth2", function() {
                gapi.auth2.getAuthInstance();
            });
            this.getYoutubePlaylists()
            
            // push the music services to convert to
            this.musicServices.push({name: "spotify"})
        }

        // playlist to convert coming from trending view
        if(this.$route.params.playlist && this.$route.params.playlist != "otify"){
            console.log(this.$route.params.playlist);
            console.log(JSON.parse(this.$route.params.playlist))

            //sets the display & conversion sources
            this.conversionStart = true;
            this.musicServices.push({name: "Youtube"}, {name: "spotify"})
        }

        //  spotify auth url -- sets scope redirect etc
        let sUrl = "https://accounts.spotify.com/authorize?response_type=token"+ "&client_id=" + encodeURIComponent("5d4e664c75bd479e8dfc851e7b78f65a") +"&scope=" + encodeURIComponent("user-read-private user-read-email playlist-read-private playlist-modify-private playlist-modify-public") + "&redirect_uri=" + encodeURIComponent("http://localhost:8080/#/")
      
        this.spotifyAuthUrl = sUrl

        if(localStorage.getItem("userAuth") == 'true'){
            console.log(`logged in`)
            this.getUser(localStorage.getItem("userID"))
            //console.log(localStorage.getItem("userID")) 
        }
    },
    methods: {

        // Gets a user from DB
        async getUser(user){
            console.log('get user called ');

            const headers = { "Content-Type": 'application/json' }
            const res = await fetch('http://localhost:8000/api/getUser/?auth0_id=' + user, { headers })
            let db = await res.json() 
            console.log(db)

            this.dbUser = db
            this.userAuth = true
        },

        // when img of to convert to clicked login to that respective musicService based of the name param
        loginShowPlaylists(name){
            //console.log(name)
            if(name == 'spotify'){
                this.spotifyAuth()
            }else if(name == 'Youtube'){
                this.youtubeAuth()
            }
        },

        //  login to spotify & create playlist||getID & add items to playlist
        async spotifyAuth(){
            this.windowRef = window.open(this.spotifyAuthUrl, "_blank", "width=800,height=800");
            await this.delay(2000)

            if (this.windowRef.location.href.indexOf("localhost:8080") > -1) {
                console.log('this worked ')
                this.windowRef.close()
            }

            let spotifyPlaylists = await this.getSpotifyPlaylists()
            //console.log(spotifyPlaylists)

            // if playlist info coming from trending
            if(this.$route.params.playlist){
                let playlistData = JSON.parse(this.$route.params.playlist)
                console.log(playlistData)
                
                //  empty checked & set with playlistData from /trending
                this.checked = []
                this.checked.push(playlistData)

                console.log(this.checked)
            }

            // for every playlist to be converted
            for(let i=0; i<this.checked.length; i++){
                console.log(this.checked[i])
                //check if it exists IF NOT CREATE & add tracks
                await this.checkIfSpotifyPlaylistExists(spotifyPlaylists[0], this.checked[i])
                
            }
            await this.delay(2000)

            //console.log(this.tracksNotConverted)
            
            //this checks if any tracks failed to convert & displays them in the home page
            if(this.tracksNotConverted.length > 0){
                this.$router.push({
                    name: 'home',
                    params: {"not_converted": JSON.stringify(this.tracksNotConverted)}
                })
            }else{
                this.$router.push('/')
            }
            
         },

        //  login to YT & create playlist||getID & add items to playlist
        async youtubeAuth(){
            // gapi auth
            this.$gapi.login()
            gapi.load("client:auth2", function() {
                gapi.auth2.getAuthInstance();
            });
            //gives time for user to sign in -- works without but prevents console errors
            await this.delay(5000)

            //  if /trending playlist
            if(this.$route.params.playlist){
                //get the data & add to check array to hold
                let spotifyPlaylistData = JSON.parse(this.$route.params.playlist)
                console.log(spotifyPlaylistData)
                this.checked = []
                this.checked.push(spotifyPlaylistData)

                console.log(this.checked[0])

                //  array to hold tracks held in playlist obj
                let tracks = this.checked[0].tracks
                //  create playlist || getID
                let playlistID = await this.getYTPlaylistID(this.checked[0].name)

                this.populateYouTubePlaylist(playlistID, tracks, this.checked[0].name)

            }else{
                //  for every checked playlist
                for(let i=0; i<this.checked.length; i++){
                    //console.log(this.checked[i].name)
                    //get the tracks & ID -- create playlist if needed
                    let tracks = this.getSpotifyTracks(this.checked[i])
                    let playlistID = await this.getYTPlaylistID(this.checked[i].name)
                    console.log(playlistID)

                    // for every track add to playlist
                    tracks.then((result) => {
                        //console.log(result)
                        this.populateYouTubePlaylist(playlistID, result, this.checked[i].name)
                    }).catch(err=>console.log(err))
                }
            }

            await this.delay(2000)
            
            //  all non converted tracks displayed on home page
            if(this.tracksNotConverted.length > 0){
                this.$router.push({
                    name: 'home',
                    params: {"not_converted": JSON.stringify(this.tracksNotConverted)}
                })
            }else{
                this.$router.push('/')
            }
        },

        //  playlists = all playlists from spotify... checked = playlists to be converted
        async checkIfSpotifyPlaylistExists(playlists, checked){
            //console.log(playlists)
            //console.log(checked)
            
            //  loop over every playlist and check if a playlist of the same name already exists
            for(let i=0; i < playlists.length; i++){

                if(playlists[i].name == checked.name){
                    //console.log('playlist exists ' + playlists.items[i].href)
                    console.log(playlists[i])

                    let playlistID = playlists[i]
                    console.log(playlistID)
                    
                    // get tracks of the existing playlist
                    let tracks = await this.getSpotifyTracks(playlists[i])
                    // console.log(tracks)
                    // console.log(checked.tracks)

                    // loop over checked playlist tracks & the existing playlist to find duplicates
                    for (let j = 0; j < checked.tracks.length; j++) {

                        for(let k =0; k< tracks.length; k++){
                            console.log(checked.tracks[j])
                            console.log(tracks[k].track)

                            //  if a duplicate is found break from loop
                            if(checked.tracks[j].name.includes(tracks[k].track)){
                                console.log('Duplicate')
                                break;
                            }
                        }
                        // if a duplicate is not found add the track to the playlist 
                        this.addSpotifyTracksToPlaylist(playlistID, checked.tracks[j], checked.name)
                    }
                    return "outside FOR "
                }
            }

            //  If playlist not already existing, create new playlist & return ID
            console.log('create playlist here')
            let playlistID = await this.createSpotifyPlaylist(checked.name)
            console.log(playlistID)


            //  DB create playlist
            if(this.userAuth = true){
                console.log(this.dbUser)
                
                //  POST new playlist to DB
                const dbRequestOptions = {
                    method: "POST",
                    headers: {  "Accept": "application/json", "Content-Type": "application/json" },
                    body: JSON.stringify( { 
                        "user_id": this.dbUser.id,
                        "name": checked.name,
                        "converted_from": "YouTube to Spotify"
                    })
                }

                console.log(dbRequestOptions)
                
                const dbRes = await fetch('http://localhost:8000/api/addPlaylist', dbRequestOptions )
                console.log(dbRes)
                //let db = await dbRes.json() 
                //console.log(db)
                //this.dbPlaylist = db
            }



            //  loop over checked playlists and add to newly created playlist
            for (let i = 0; i < checked.tracks.length; i++) {
                //console.log(checked.tracks[i])
                this.addSpotifyTracksToPlaylist(playlistID, checked.tracks[i], checked.name)
            }
        },

        // tracks object and playlistID params
        // adds tracks to playlist using these ^
        async addSpotifyTracksToPlaylist(playlistID, track, playlistName) {
            //console.log(playlistID)
            //console.log(track)

            // set bearer and search for track 
            let access = 'Bearer ' + localStorage.getItem("spotifyAccessToken")
            let search = await this.searchSpotify(track.name)
            //console.log(search)
            
            // get the first result from spotify
            let searchedTrack = search.tracks.items[0]
            //console.log(searchedTrack)
    
            // if there is a result
            if(search.tracks.items.length != 0 ){
                let trackID = searchedTrack.id

                // setting the data to be POSTed
                const requestOptions = {
                    method: "POST",
                    headers: {  "Authorization": access, "Accept": "application/json", "Content-Type": "application/json", "Host": "api.spotify.com", "Content-Length": 49 },
                    body: JSON.stringify( { 
                        "uris": 
                            ["spotify:track:" + trackID]
                    })
                }
                
                // add to playlist
                const res = await fetch("https://api.spotify.com/v1/playlists/" + playlistID.id + "/tracks", requestOptions )

                //  DB add tracks
                if(this.userAuth = true){
                    console.log(this.dbUser)

                    //get playlist
                    const headers = { "Content-Type": 'application/json' }
                    const getPlaylists = await fetch('http://localhost:8000/api/getPlaylists/?user_id=' + this.dbUser.id, { headers } )
                    let dbPlaylists = await getPlaylists.json() 
                    console.log(dbPlaylists)

                    //  for every playlist in DB check if playlist already exists & add tracks 

                    for(let i=0; i<dbPlaylists.length; i++){
                        console.log(dbPlaylists[i].name)
                        console.log(playlistName)
                        if(dbPlaylists[i].name == playlistName){
                            console.log('found Playlist')
                            let dbPlaylistID = dbPlaylists[i].id

                            const dbRequestOptions = {
                                method: "POST",
                                headers: {  "Accept": "application/json", "Content-Type": "application/json" },
                                body: JSON.stringify( { 
                                    "playlist_id": dbPlaylistID,
                                    "name": track.name,
                                    "artist": track.artist,
                                })
                            }
                            const dbRes = await fetch('http://localhost:8000/api/addTrack', dbRequestOptions )
                            let db = await dbRes.json() 
                            console.log(db)
                        }
                    }

                }

            }else{
                //  add to tracks not converted array
                this.tracksNotConverted.push(track.name)
                //console.log(track.name + ' : Not converted')
            }

        },

        // searches spotify for a track using its name
        async searchSpotify(name){
            //console.log(name)
            let bearer = 'Bearer ' + localStorage.getItem("spotifyAccessToken")
            const headers = { "Authorization": bearer }

            // GET request with authorized headers
            const res = await fetch('https://api.spotify.com/v1/search?type=track&query=' + name, { headers })
            const data = await res.json()

            return data
        },

        //  creation of a spotify playlist using the playlist name
        async createSpotifyPlaylist(name){
            let access = 'Bearer ' + localStorage.getItem("spotifyAccessToken")
            
            //  setting the POST data
            const requestOptions = {
                method: "POST",
                headers: {  "Authorization": access, "Accept": "application/json", "Content-Type": "application/json", "Host": "api.spotify.com", "Content-Length": 92 },
                body: JSON.stringify( { 
                    "name": name,
                    "description": "Playlist created by Symph",
                    public: true
                })
            }
            //  POST request
            const res = await fetch("https://api.spotify.com/v1/me/playlists", requestOptions )
            let newPlaylist = res.json() 

            console.log(newPlaylist)
            //  returns ID
            return newPlaylist
        },

        //  gets all spotify playlists
        async getSpotifyPlaylists() {
            //  auth headers
            let bearer = 'Bearer ' + localStorage.getItem("spotifyAccessToken")
            const headers = { "Authorization": bearer }
            //console.log(bearer)

            // get first 50 playlists
            const res = await fetch('https://api.spotify.com/v1/me/playlists?limit=50', { headers })
            const data = await res.json()
            //console.log(data)

            //create temp storage & add playlists here
            let playlistStorage = []
            playlistStorage.push(data.items)

            // if more than 50 playlists
            for(let i=50; i<data.total; i+=50){

                //  get the next 50 and so on
                let newRes = await fetch('https://api.spotify.com/v1/me/playlists?limit=50&offset=' + i, { headers })
                let newData = await newRes.json()
                //console.log(newData.items)

                //  add to temp storage
                for(let j=0; j<newData.items.length; j++){
                    playlistStorage[0].push(newData.items[j])
                }

            }
            // console.log(playlistStorage)
            //console.log(this.playlists)
            
            // set playlists held in temp as data variable
            playlistStorage.forEach((play) =>{
                this.playlists = play
            })
            //console.log(this.playlists)

            return playlistStorage
        },

        //  get all tracks from a playlist
        async getSpotifyTracks(playlist) {
            //  auth headers
            let bearer = 'Bearer ' + localStorage.getItem("spotifyAccessToken")
            const headers = { "Authorization": bearer }
            
            //set offset and playlist temp storage
            let offset = 0
            let playlistArr = []
            this.delay(1500)

            // if playlist requries a second loop as limit is 100 && ensures no loop over !existent tracks
            if (playlist.tracks.total > 100 && offset + 99 < playlist.tracks.total){
                for(let i=0; i < playlist.tracks.total; i+=100){
                    offset = i

                    // get 100 tracks per loop
                    const res = await fetch(playlist.href + '/tracks?offset=' + offset, { headers })
                    const data = await res.json()
                   // console.log(data)
                    playlistArr.push(data.items)
                }
            }else {
                    // no second loop
                    const res = await fetch(playlist.href, { headers })
                    const data = await res.json()
                    //console.log(data)
                    playlistArr.push(data.tracks.items)
            }

            let newArr = []
            //console.log(playlistArr)

            //  go through temp array & add only whats needed to new array 
            playlistArr.forEach(item => {
                //console.log(item)
                if(item.length > 0){
                    item.forEach(track => {
                    newArr.push({"track": track.track.name, "artist": track.track.artists[0].name})
                    })
                }
            });
            //console.log(newArr)
            return newArr
        },

        //  gets all checked playlists & updates storage of checked
        checkedPlaylists(playlists){
            //console.log(playlists)
            this.checked = playlists
        },

        //  changes display on convert page sets playlists as all checked playlists
        convert(){
            let playlists = this.checked
            // console.log(playlists)
            
            if (playlists.length > 0) {
                this.conversionStart = true
            }
        },

        //  YT loading Auth
        loadClient() {
            gapi.client.setApiKey("AIzaSyDSscKWibTUAJuMC9Il_mCWfYOYAbtYgVc");
                return gapi.client.load("https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest")
                .then(function() { console.log("GAPI client loaded for API"); },
                    function(err) { console.error("Error loading GAPI client for API", err); });
        },

        //  Get all YT playlists
        async getYoutubePlaylists(){
            //  get the access token from sign in
            let access = gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse().access_token
            //console.log(access)
            // console.log(this.$gapi)
            
            const headers = { "Authorization": 'Bearer ' + access, "Accept": 'application/json' }
            await this.delay(5000);

            //  get all YT playlists
            const res = await fetch('https://youtube.googleapis.com/youtube/v3/playlists?part=snippet%2CcontentDetails&maxResults=25&mine=true&key=AIzaSyDSscKWibTUAJuMC9Il_mCWfYOYAbtYgVc', {headers})
            const data = await res.json()
            console.log(data.items)
            
            //  break down the data received from ^ & get Tracks for every playlist update playlist array that displays
            this.getYTPlaylist(data.items)
        },

        //  break down the data received from parent function so only data needed is used
        async getYTPlaylist(array) {
            //  deconstruct array received
            var output = Object.keys(array)
            .map(function(i) {
            return [array[i]];
            });

            //  get auth & set headers
            let access = gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse().access_token
            const headers = { "Authorization": 'Bearer ' + access, "Accept": 'application/json' }

            //  for however many playlists
            for (let i = 0; i < output.length; i++) {
                //  get total tracks & playlist name
                this.playlistName = output[i][0].snippet.title
                this.total = output[i][0].contentDetails.itemCount

                //  temp storage of all playlists & total tracks count
                let playlistArr = []
                //console.log(output[i][0].snippet.title + ' : ' + output[i][0].id)
                playlistArr.push({ "name": this.playlistName, "count": this.total, tracks: [] } )

                //  get the playlist via its ID
                const res = await fetch('https://youtube.googleapis.com/youtube/v3/playlistItems?part=snippet%2CcontentDetails%2Cid&maxResults=50&&playlistId=' + output[i][0].id + '&key=AIzaSyDSscKWibTUAJuMC9Il_mCWfYOYAbtYgVc', {headers})
                const data = await res.json()
                //console.log(data)

                //  get the tracks from the playlist & add to temp storage
                data.items.forEach((item) => {
                    // console.log(item)
                    playlistArr[0].tracks.push({"name": item.snippet.title, "artist": item.snippet.videoOwnerChannelTitle})
                })
                
                //  if there is more than 50 tracks to a playlist GET the next 50 & add to temp storage
                let nextPage = data.nextPageToken 
                for(let j =50; j<playlistArr[0].count; j+=50){
                    // console.log(playlistArr[j].tracks.length)
                    // console.log(data.pageInfo.totalResults)
                    if(data.nextPageToken != null ){
                        //console.log( this.playlistName + ' : ' + nextPage)

                        //  GET the next 50
                        const loopRes = await fetch('https://youtube.googleapis.com/youtube/v3/playlistItems?part=snippet%2CcontentDetails%2Cid&maxResults=50&pageToken=' + nextPage + '&playlistId=' + output[i][0].id + '&key=AIzaSyDSscKWibTUAJuMC9Il_mCWfYOYAbtYgVc', {headers})
                        
                        const loopData = await loopRes.json()
                        nextPage = loopData.nextPageToken
                        this.delay(500)
                        
                        //  adding to temp storage 
                        loopData.items.forEach((item) => {
                            playlistArr[0].tracks.push({"name": item.snippet.title, "artist": item.snippet.videoOwnerChannelTitle})
                        })
                    }
                }
                //console.log(playlistArr)
                // this.tracks = trackArr
                this.playlists.push(playlistArr)
            }
        },

        //  Create YT playlist based of its name
        async createYTPlaylist(playlistName) {
            //  auth & POST data
            let access = gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse().access_token
            const requestOptions = {
                method: "POST",
                headers: {  "Authorization": "Bearer " + access, "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify( { 
                    "snippet": {
                        "title": playlistName,
                        "description": "Created By Symph"
                    }
                })
            }
            //  Creation of playlist
            const res = await fetch('https://youtube.googleapis.com/youtube/v3/playlists?part=snippet%2CcontentDetails%2Cid&key=AIzaSyDSscKWibTUAJuMC9Il_mCWfYOYAbtYgVc', requestOptions)
            const newPlaylist = await res.json()
            
            console.log(newPlaylist)
            
            //  return ID
            return newPlaylist.id
        },

        //  Get playlist ID based of its name || create playlist & return ID
        async getYTPlaylistID(playlistName) {
            //console.log(playlistName)

            //  Auth headers
            let access = gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse().access_token
            const headers = { "Authorization": 'Bearer ' + access, "Accept": 'application/json' }

            //  GET playlists
            let res = await fetch("https://youtube.googleapis.com/youtube/v3/playlists?part=snippet%2CcontentDetails%2Cid&maxResults=50&mine=true&key=AIzaSyDSscKWibTUAJuMC9Il_mCWfYOYAbtYgVc", {headers})
            const playlists = await res.json()
            //console.log(playlists)

            //  If playlist exists get the ID
            for (let i = 0; i < playlists.items.length; i++) {
                if (playlists.items[ i ].snippet.title == playlistName) {
                    let playlistId = playlists.items[ i ].id;
                    //console.log('ID exists: ' + playlistId)

                    return playlistId;
                }
            }

            //  DB create playlist
            if(this.userAuth == true){
                console.log(this.dbUser)
                
                //  POST new playlist to DB
                const dbRequestOptions = {
                    method: "POST",
                    headers: {  "Accept": "application/json", "Content-Type": "application/json" },
                    body: JSON.stringify( { 
                        "user_id": this.dbUser.id,
                        "name": playlistName,
                        "converted_from": " Spotify to YouTube"
                    })
                }

                console.log(dbRequestOptions)

                const dbRes = await fetch('http://localhost:8000/api/addPlaylist', dbRequestOptions )
                console.log(dbRes)
                
                let db = await dbRes.json() 
                console.log(db)
                //this.dbPlaylist = db
            }

            //  else Create playlist & return
            return this.createYTPlaylist(playlistName)
        },

        //  takes playlsitID and tracks object to populate the YT playlist
        async populateYouTubePlaylist(playlistId, tracks, playlistName) {
            //console.log(tracks)
            //console.log(tracks[0])
            
            //  Search each track & add to playlist
            for (let i = 0; i < tracks.length; i++) {
                //console.log(tracks[i])

                let video = await this.searchYT(tracks[i].track, tracks[i].artist)
                let videoId = video.id.videoId
                let videoName = video.snippet.title

                this.addTrackToYTPlaylist(playlistId, videoId, videoName)

                //  DB add tracks
                if(this.userAuth = true){
                    //console.log(this.dbUser)

                    //  get playlist from DB
                    const headers = { "Content-Type": 'application/json' }
                    const getPlaylists = await fetch('http://localhost:8000/api/getPlaylists/?user_id=' + this.dbUser.id, { headers } )
                    let dbPlaylists = await getPlaylists.json() 
                    //console.log(dbPlaylists)


                    //  for every playlist in DB check if playlist already exists & add tracks 

                    for(let j=0; j<dbPlaylists.length; j++){
                        console.log(dbPlaylists[j].name)
                        console.log(playlistName)
                        if(dbPlaylists[j].name == playlistName){
                            console.log('found Playlist')
                            let dbPlaylistID = dbPlaylists[j].id

                            const dbRequestOptions = {
                                method: "POST",
                                headers: {  "Accept": "application/json", "Content-Type": "application/json" },
                                body: JSON.stringify( { 
                                    "playlist_id": dbPlaylistID,
                                    "name": tracks[i].track,
                                    "artist": tracks[i].artist,
                                })
                            }
                            const dbRes = await fetch('http://localhost:8000/api/addTrack', dbRequestOptions )
                            let db = await dbRes.json() 
                            console.log(db)
                        }
                    }

                }
            }
        },

        //  search each track using track name & artist return videoID to add
        async searchYT(track, artist) {
            //console.log(track)
           //console.log(artist)

            //  auth headers
            let access = gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse().access_token
            const headers = { "Authorization": 'Bearer ' + access, "Accept": 'application/json' }

            //  GET videos on YT
            const res = await fetch(" https://youtube.googleapis.com/youtube/v3/search?part=snippet&maxResults=1&q=" + track + " " + artist + "&key=AIzaSyDSscKWibTUAJuMC9Il_mCWfYOYAbtYgVc", {headers})
            const video = await res.json()

            console.log(video)
            
            //  select the 1st result
            let videoSearched = video.items[ 0 ]
            return videoSearched;
        },

        async addTrackToYTPlaylist(playlistId, videoId, videoName) {
            //console.log('playlist', playlistId)
            //console.log('videoId', videoId)

            // auth headers
            let access = gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse().access_token
            const headers = { "Authorization": 'Bearer ' + access, "Accept": 'application/json' }

            //  get the playlist to add to
            let playlistRes = await fetch("https://youtube.googleapis.com/youtube/v3/playlistItems?part=snippet%2CcontentDetails&maxResults=50&playlistId=" + playlistId + "&key=AIzaSyDSscKWibTUAJuMC9Il_mCWfYOYAbtYgVc", {headers})
            const playlist = await playlistRes.json()
            //console.log(playlist)

            //  for every item in the playlist which is being added to
            if(playlist.items.length != 0){
                for (let i = 0; i < playlist.items.length; i++) {
                    //console.log(playlist.items[i].snippet.resourceId.videoId);
                    //console.log(videoId)

                    //  If duplicate add to not converted array
                    if (playlist.items[i].snippet.resourceId.videoId == videoId) {
                        this.tracksNotConverted.push(videoName)
                        console.log("Duplicate!")
                        return ""
                    }
                }
            }

            //  POST data
            const requestOptions = {
                method: "POST",
                headers: {  "Authorization": "Bearer " + access, "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify( { 
                    "snippet": {
                        "playlistId": playlistId,
                        "resourceId": {
                            "videoId": videoId,
                            "kind": "youtube#video"
                        }
                    }
                })
            }

            // adding to playlist
            const res = await fetch('https://youtube.googleapis.com/youtube/v3/playlistItems?part=snippet%2CcontentDetails%2Cid&key=AIzaSyDSscKWibTUAJuMC9Il_mCWfYOYAbtYgVc', requestOptions)
            const trackAdded = await res.json()
            //console.log(trackAdded)
        },

        //  wait time
        delay(ms){
            return new Promise(resolve => setTimeout(resolve, ms))
        },
    },
    data() {
        return{
            spotifyToken: localStorage.getItem("spotifyAccessToken"),
            playlists: [],
            total: 0,
            checked: [],
            conversionStart: false,
            musicServices: [],
            spotifyAuthUrl: "",
            tracksNotConverted: [],
            windowRef: null,
            dbPlaylist: 0,
            dbUser: {},
        }
    },
}
</script>

<style scoped>
.playlists{
  margin-top: 150px;
}
#convert-playlists{
    margin-left: 950px;
}
</style>