<template>
  <div class="container">

    <div style="margin-top: 100px" class="home">
        <div id="about">
          <h1 class="text">Symph</h1>
          <h4 class="text">Symph is an online tool created to allow users to convert playlists between music streaming service platforms</h4>
        </div>
        <br/>
        <br/>

      <h2 class="text">To get started choose the music library you wish to convert from</h2>
        <br/>
        <br/>
        <MusicServices 
        @login-show-playlists="loginShowPlaylists"
        :MusicServices="musicServices"
        />
    </div>
    <div v-if="displayNotConverted" class="notCon">
      <h3>Tracks Not Converted </h3>
      <table class="table">
        <tr align="center">
          <div :key="notConverted" v-for="notConverted in notConverted">
                <td>
                  {{notConverted}}
                </td>
          </div>
        </tr>

      </table>
    </div>


  </div>
  
</template>
<script>
import MusicServices from '../components/MusicServices.vue'

export default {
  name: 'HomeView',
  components: {
    MusicServices,
  },
  computed: {
      // not converted tracks display triggered by this
      displayNotConverted(){
          if(this.$route.params.not_converted){
              return true
          } else {
              return false
          }
      },
  },
  mounted() {
      // URL for spotify AUTH -- defines scopes & client & redirect 
    let sUrl = "https://accounts.spotify.com/authorize?response_type=token"+ "&client_id=" + encodeURIComponent("5d4e664c75bd479e8dfc851e7b78f65a") +"&scope=" + encodeURIComponent("user-read-private user-read-email playlist-read-private playlist-modify-private playlist-modify-public") + "&redirect_uri=" + encodeURIComponent("http://localhost:8080/#")
      
    //console.log(localStorage.getItem('tokenExpiry'))

    this.spotifyAuthUrl = sUrl

    // YT API listen for user sign in 
    this.$gapi.listenUserSignIn((isSignedIn) => {
      this.ytSignedIn = isSignedIn
    })

    // if spotify access token update local storage with expiration date & token
    if(this.$route.params.access_token){
      var arrStr = this.$route.params.access_token.split(/[=&]/)
      //console.log(arrStr[1])
      localStorage.setItem("spotifyAccessToken", arrStr[1])

      let tokenExpiration = new Date();
      tokenExpiration.setSeconds(new Date().getSeconds() + parseInt(arrStr[5]))
      //console.log(tokenExpiration);
      localStorage.setItem("tokenExpiry", tokenExpiration)
    }

    // When a conversion is made JSON [] of not converted tracks are passed as route param
    if(this.$route.params.not_converted){
      //console.log(this.$route.params.not_converted)
      this.notConverted = JSON.parse(this.$route.params.not_converted)
      let notCon = JSON.parse(this.$route.params.not_converted)
      //console.log(notCon)
      
      notCon.forEach((track) => {
       // console.log(track)
      })

    }
  },
  data(){
    return{
      spotifyAuthUrl: '',
      ytSignedIn: null,
      notConverted: [],
      musicServices: [
        {
          name: 'spotify',
        },
        {
          name: 'Youtube',
        },
      ],
      windowRef: null
    }
  },
  methods:{
    // function that triggers on click of Music Service img
    loginShowPlaylists(name){
      console.log(name)
      if(name == 'spotify'){
        this.spotifyAuth()
        console.log(localStorage.getItem("spotifyAccessToken")) 
        
        //passes access token as param to convert view
        this.$router.push({
          name: 'convert',
          params: {"music_service": 'spotify'}
      })
      }else if(name == 'Youtube'){
        this.youtubeAuth()
      }
    },

    delay(ms){
      return new Promise(resolve => setTimeout(resolve, ms))
    },

    //this opens a new window for spotify auth then closes once authenticated
    async spotifyAuth(){
      this.windowRef = window.open(this.spotifyAuthUrl, "_blank", "width=800,height=800");
      console.log(this.windowRef) 
      await this.delay(1000)
      if (this.windowRef.location.href.indexOf("localhost:8080") > -1) {
        console.log('this worked ')
        this.windowRef.close()
      }
    },

    // gapi login for YT & push to convert 
    youtubeAuth(){
      this.$gapi.login()
      console.log(this.ytSignedIn)
      this.$router.push({
        name: 'convert',
        params: {"music_service": 'youtube'}
      })
    },
  },
}
</script>

<style scoped>
#hideShow{
  margin-top: 150px;
}

.notCon{
  margin-top: 60px;
}

#playlistTable{
  border: 2px solid black;
}

tr{
  text-align: center;
}

h3{
  margin-bottom: 25px;
}
.table{
  margin-left: 35%;
}
</style>