<template>
    <div class="playlists">
        <h2>Top Trending Playlists</h2>
        <div v-if="accessToken && !displaySources" class="trending-playlists">

            <!-- vue-agile library to display images as carousel -->
            <h2 v-if="!showBtn">Click Me</h2>
            <agile v-if="playlists.length" autoplay="true" pauseOnHover="true" dots="false">
                <div class="slide" :key="playlist.name" v-for="playlist in playlists"   >  
                    <img :src="playlist.images[0].url" width="300" height="300" alt='pic' @click="onClick(playlist)">
                </div>
            </agile>

            <Button 
                class="btn"
                text="Convert Playlist"
                color="#00968B"
                textColor="#ffffff"
                @btn-click="convert"
                id="convert-playlists"
                v-if="showBtn"
            />
            <Playlist 
                :Playlist="playlistTracks" 
                :playlistName="playlistName" 
            />
        </div>
        <div v-if="!accessToken" class="trending-playlists">
            <h2>Please login to Spotify to view the most trending playlists </h2>
            <MusicServices 
                @login-show-playlists="spotifyAuth"
                :MusicServices="musicServices"
            />
        </div>
    </div>
    
</template>

<script>
import Playlist from '../components/Playlist.vue'
import Button from '../components/Button.vue'
import { VueAgile } from 'vue-agile'
import MusicServices from '../components/MusicServices.vue'

export default {
    name: 'TrendingView',
    components: {
        Playlist,
        Button,
        MusicServices,
        agile: VueAgile
    },
    mounted() {

        let sUrl = "https://accounts.spotify.com/authorize?response_type=token"+ "&client_id=" + encodeURIComponent("5d4e664c75bd479e8dfc851e7b78f65a") +"&scope=" + encodeURIComponent("user-read-private user-read-email playlist-read-private playlist-modify-private playlist-modify-public") + "&redirect_uri=" + encodeURIComponent("http://localhost:8080/#")
        this.spotifyAuthUrl = sUrl

        let expiry = Date.parse(localStorage.getItem('tokenExpiry'))
        //console.log(Date.now())
        //console.log(expiry)

        //  if token !expired
        if(Date.now() <= expiry ){
            this.getPlaylistData()
        }else{
            console.log('token expired')
        }
        //console.log(localStorage.getItem('tokenExpiry'))
    },

    computed: {
        accessToken(){
            if(Date.parse(localStorage.getItem('tokenExpiry')) > Date.now()){
                console.log('token not expired');
                return true
            } else {
                console.log('token expired');
                return false
            }
        },
        //  when a playlist is displayed then show convert btn
        showBtn(){
            if (this.showButton == true) {
                return true
            } else {
                return false
            }
        },
    },
    methods:{
        //  get the featured playlists & set playlists var = to
        async getPlaylistData(){
            this.access = localStorage.getItem("spotifyAccessToken")
            let bearer = 'Bearer ' + localStorage.getItem("spotifyAccessToken")
            const headers = { "Authorization": bearer }

            const res = await fetch('https://api.spotify.com/v1/browse/featured-playlists', {headers})
            const data = await res.json()

            //console.log(data.playlists.items)
            this.playlists = data.playlists.items
            console.log(this.playlists)
        },
        async spotifyAuth(){
            this.windowRef = window.open(this.spotifyAuthUrl, "_self", "width=800,height=800");
            console.log(this.windowRef) 
            await this.delay(1000)
            if (this.windowRef.location.href.indexOf("localhost:8080") > -1) {
                console.log('this worked ')
                this.windowRef.close()
            }
        },
        // when user clicks convert btn send the selected playlist to convert
        convert(){
            this.$router.push({
                name: 'convert',
                params: {"playlist": JSON.stringify(this.selected)}
            })
        },
        
        //  sets the selected playlist & displays conversion btn
        async onClick(playlist){
            console.log(playlist)
            this.playlistName = playlist.name
            let tracks = await this.getTracks(playlist)

            this.showButton = true;
            this.selected = {"name": playlist.name,"tracks": tracks}
            console.log(this.selected)
        },

        //get tracks for spotify 
        async getTracks(playlist) {
            //console.log(playlist.tracks)

            //set headers with access token
            let bearer = 'Bearer ' + localStorage.getItem("spotifyAccessToken")
            const headers = { "Authorization": bearer }
            
            //set offset and playlist temp storage
            let offset = 0
            let playlistArr = []

            // if playlist requries a second loop as limit is 100 && ensures no loop over !existent tracks
            if (playlist.tracks.total > 100 && offset + 99 < playlist.tracks.total){
                
                // get 100 tracks per loop
                for(let i=0; i < playlist.tracks.total; i+=100){
                    offset = i
                    
                    // offset sets where to get the next 100
                    const res = await fetch(playlist.tracks.href + '?offset=' + offset, { headers })
                    const data = await res.json()
                    playlistArr.push(data.items)
                }
            }else {
                    // no second loop
                    const res = await fetch(playlist.tracks.href, { headers })
                    const data = await res.json()
                    playlistArr.push(data.items)
            }
            let newArr = []
            //go through temp array & add only whats needed to new array 
            
            playlistArr.forEach(item => {
                item.forEach(track => {
                    //console.log(track)
                    if(track.track != null) {
                        newArr.push({"name": track.track.name, "artist": track.track.artists[0].name})
                    }
                })
            });
            
            //set tracks sent to tracks component here
            this.playlistTracks = newArr
            return newArr
    },
        
    },
    data(){
    return{
        access: "",
        playlists: [],
        playlistTracks: [],
        playlistName: "",
        showButton: false,
        selected: [],
        spotifyAuthUrl: "",
        musicServices: [
            {
                name: 'spotify',
            }
        ],
        }
  },
}
</script>

<style scoped>
.playlists{
    margin-top: 150px;
}
h2{
    margin-bottom: 40px;
}
img{
    cursor: pointer;
    margin-bottom: 50px;
}
.trending-playlists{
    margin-top: 100px;
}
.btn{
    margin-left: 850px;
}
</style>