<template>
    <div>
        <Playlists 
          :Playlists="playlists" 
        />
    </div>
</template>

<script>
import Playlists from '../components/Playlists.vue'

export default {
    components: {
      Playlists,
    },
    mounted() {
        this.getUser(localStorage.getItem("userID"))
    },
    watch: {
      //  watches playlists for any updates & adds accordingly
      playlists: {
        async handler(){
          console.log(this.playlists)
          await this.getPlaylists(localStorage.getItem("userID"))
        },
        deep: true
      },
    },
    methods: {
        async getUser(user){
            console.log('get user called ', user);

            //  GET user from DB
            const headers = { "Content-Type": 'application/json' }
            const res = await fetch('http://localhost:8000/api/getUser/?auth0_id=' + user, { headers })
            let db = await res.json() 
            console.log(res)
            console.log(db)

            this.getPlaylists(db)
        },

        async getPlaylists(user){
          const headers = { "Content-Type": 'application/json' }

          //  GET a users playlists
          const getPlaylists = await fetch('http://localhost:8000/api/getPlaylists/?user_id=' + user.id, { headers } )
          let dbPlaylists = await getPlaylists.json() 
         // console.log(dbPlaylists)

          let tempArr = []

          //  For every playlist a user has refactor for Playlist component & display to user
          for(let i=0; i<dbPlaylists.length; i++){
                let dbPlaylistID = dbPlaylists[i].id

                let created = new Date(dbPlaylists[i].created_at).toString().split(' ').slice(0,5).join(' ')
                console.log(created)

                tempArr.push({"name": dbPlaylists[i].name, "converted_from": dbPlaylists[i].converted_from, "created": created, "tracks": [] } )
                //console.log(tempArr)

                const dbRes = await fetch('http://localhost:8000/api/getTracks/?playlist_id=' + dbPlaylistID, { headers } )
                let db = await dbRes.json() 
                //console.log(db)
                
                for(let j=0; j<db.length; j++){
                    //console.log(db[j])
                    //console.log(tempArr[i])
                    tempArr[i].tracks.push({ "name": db[j].name, "artist": db[j].artist })
                }
          }
          this.playlists = tempArr
          console.log(this.playlists)

        }
    },
    data() {
      return{
        playlists: []
      }
    }
}
</script>